header {
  background-color: #dddddd;
}

main {
  margin: 0 auto;
  max-width: 512px;
}

/* * * * * * * * * * */
/* RESPONSIVE STYLES */
/* * * * * * * * * * */

/* @media screen and (min-width: 384px) {} */

/* @media screen and (min-width: 512px) {} */

/* @media screen and (min-width: 640px) {} */

/* @media screen and (min-width: 768px) {} */

/* @media screen and (min-width: 896px) {} */

@media screen and (min-width: 1024px) {
  main {
    max-width: 768px;
  }
}

/* @media screen and (min-width: 1152px) {} */

@media screen and (min-width: 1280px) {
  main {
    max-width: 1024px;
  }
}
